h1,h2,h3,h4,p,ul,dl,dd,dt,body,li{margin:0;padding:0;}

a{text-decoration:none;color: #666;}
body{font-family: "微软雅黑";font-size: 0.5rem;color: #666;}
a{text-decoration:none;}
body{font-family: "微软雅黑";font-size: 0.5rem;color: #666;background-color: #fff;}

li{list-style:none;}
img{border:0;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:"\200B";clear:both;height:0;display:block;}
.clearfix{*zoom:1;} 
.wrap{margin: 0 0.5rem;}
/**/
.nav{height: 3.625rem;border-bottom: 0.25rem solid #ebebeb;background-color: #fff;}
.nav .logo{background: url(../images/index_nav.jpg) no-repeat;width: 6.075rem;height: 1.725rem;background-size: 100%;margin: 0.625rem 0 0 0.2rem;}
.nav a{background: url(../images/btn_03.jpg) no-repeat;width: 1.125rem;height: 0.9rem;background-size: 100%;margin: 1.25rem 0.5rem 0 0;}
.foot{background-color: #d3d3d3;color: #fff;font-size: 0.4rem;text-align: center;border-top: 0.25rem solid #ebebeb;padding:0.875rem 0;}

