/*ZCC*/
/*index start*/
body,ul,p,h1,h2,h3,h4,dl,dd{margin:0;padding: 0;}
body{font:20px "微软雅黑";}
a{text-decoration: none;}
a img{border: 0;}
ul{list-style: none;}
.clearfix:after{content:"\200B";height: 0;display: block;clear:both;}
.clearfix{*zoom:1;}
/*reset end*/
#index{padding-bottom: 2.4rem;}
#index .title{margin:0 0.25rem;padding:0.75rem 0 0.65rem 1.175rem;color:#fa6016;font-size:0.6rem;font-weight:400;background: url(../images/index_05.png) no-repeat 0.5rem 0.85rem;background-size:0.625rem 0.625rem;border-bottom:1px solid #EFEFEF;}
#index .notice{padding: 0.6rem 1.325rem 0.95rem 0;}
#index .notice li{padding-left:0.85rem;font-size: 0.5rem;color:#666;line-height: 0.9rem;background: url(../images/understand_list.jpg) no-repeat 0.5rem 0.375rem;background-size: 0.2rem 0.2rem;}
#index .notice li+li{margin-top:0.9rem;}
#index .notice li a{color:#666;}
#index .notice span{margin-left: 0.725rem;}
#index .feature{padding: 0.525rem 0.375rem;background-color: #EBEBEB;}
#index .feature p{text-align: justify;font-size: 0;}
#index .feature p+p{margin-top: 0.225rem;}
#index .feature img{width:7.2rem;height:4.675rem;}
#index .feature img+img{margin-left:0.25rem;}
#index .content{background-color: #EBEBEB;}
#index .wrap{padding:0 0.25rem;background-color: #fff;}
#index .wrap+.wrap{margin-top: 0.575rem;}
#index .subtit{padding:0.625rem 0.5rem;padding-right:0;font:400 0.75rem/1 "微软雅黑";color: #fa6016;border-bottom: 1px solid #F6F6F6;}
#index .brand-logo{padding: 0.55rem 0;text-align: center;font-size:0;}
#index .brand-logo li{display:inline-block;width:4.65rem;height:1.85rem;margin: 0.275rem 0.15rem;background: no-repeat center;background-size: 100% 100%;}
#index .brand-logo .bg1{background-image: url(../images/index_003.jpg);}
#index .brand-logo .bg2{background-image: url(../images/index_005.jpg);}
#index .brand-logo .bg3{background-image: url(../images/index_007.jpg);}
#index .brand-logo .bg4{background-image: url(../images/index_102.jpg);}
#index .brand-logo .bg5{background-image: url(../images/index_103.jpg);}
#index .brand-logo .bg6{background-image: url(../images/index_104.jpg);}
#index  .brand-text{padding-bottom: 1.075rem;padding-left: 0.25rem;}
#index  .brand-text li{line-height:1;font-size: 0.5rem;}
#index  .brand-text li+li{margin-top: 0.625rem;}
#index  .brand-text a{color:#666;}
#index  .result{padding: 0.75rem 0.25rem;}
#index  .result-img{margin-bottom:0.6rem; font-size:0;}
#index  .result-img img{width:4.625rem;height: 3.975rem;}
#index  .result-img img+img{margin-left: 0.2rem;}
#index  .result-text{line-height:0.9rem;font-size: 0.5rem;color:#666;}
#index .bgculture{font-size: 0;padding: 0.15rem 0.25rem 0.525rem;}
#index .bgculture img{width:14.95rem;height: auto;}
#index .bgculture-text{margin-top:0.5rem;font: 0.5rem/0.9rem "微软雅黑";color: #666;}
#index .bgculture-text a{color: #fe5506;}
#index .hot{padding: 0.525rem 0 0.15rem 0.375rem;}
#index .hot li{float: left;position: relative;width:4.55rem;height:4.625rem;font-size: 0;}
#index .hot li:nth-of-type(1){width:5.0rem;height: 9.425rem;}
#index .hot li+li{margin-left:0.2rem;margin-bottom:0.175rem;}
#index .hot li img{width:100%;height:100%;}
#index .hot li span{position: absolute;bottom:0;left:0;width:100%;padding:0.25rem 0;background:rgba(255,94,0,.7);color: #fff;font-size:0.325rem;text-align: center;}
#index .hot li:nth-of-type(1) span{padding: 0.35rem 0;font-size: 0.45rem;}
#index .process{height: 6.5rem;background: url(../images/index_40.jpg) no-repeat center;background-size: 14.95rem 3.45rem;}
#index .btn{position:fixed;bottom:0;left:0;width:100%;font-size:0;}
#index .btn a{display:inline-block;width:4.7rem;height:2.4rem;padding-left:3.275rem;line-height:2.4rem;background-color: #FF5509;color:#fff;font-size:0.75rem;position: relative;}
#index .btn a+a{border-left: 1px solid #fff;}
#index .btn span{position: absolute;top:0.625rem;left:2.0rem;width:1.1rem;height: 1.1rem;border:0.05rem solid #fff;border-radius:50%;background:no-repeat center;background-size: 0.55rem 0.55rem;}
#index .btn .bg1{background-image: url(../images/index_44.png);}
#index .btn .bg2{background-image: url(../images/index_47.png);}
/*index end*/
/*indoubt start*/
#doubt .title{height: 1.95rem;margin:0 0.5rem;line-height:1.95rem;font-size: 0.6rem;color:#fc4f0b;text-align: center;border-bottom: 1px solid #EFEFEF;}
#doubt .doubt-wrap{padding:0.775rem 0.5rem 1.15rem;}
#doubt .doubt-list{padding: 0.45rem 0.675rem 0.6rem 0;border:1px solid #E5E5E5;}
#doubt .doubt-list+.doubt-list{margin-top: 1.0rem;}
#doubt dt,#doubt dd{padding-left: 1.2rem;line-height:0.95rem;font-size: 0.5rem;background: no-repeat 0.2rem 0.15rem;background-size: 0.7rem 0.7rem;text-align: justify;}
#doubt dt{font-weight:bold;color:#fc4f0b;background-image: url(../images/23_03.jpg);}
#doubt dd{color: #666;background-image: url(../images/20_06.jpg);}
#doubt dd a{color:#428adc;}
/*indoubt end*/
/*knowmw start*/
#knowme .wrap{width:14.925rem;margin:0 auto;}
#knowme .title{height:1.975rem;line-height: 1.975rem;border-bottom:1px solid #F3F3F3;text-align:center;color:#fc4f0b;font-size: 0.6rem;}
#knowme .text{padding-bottom: 0.925rem;}
#knowme .text p{margin-top:0.2rem;line-height: 0.9rem;color:#666;font-size:0.5rem;}
#knowme .news{border-top: 0.35rem solid #EBEBEB;}
#knowme .news-con{font-size:0;}
#knowme .news-con img{width: 100%;}
#knowme .hot{border-top: 0.575rem solid #EBEBEB;}
#knowme .subtitle{margin-top:0.375rem;margin-bottom:0.5rem;font:normal 0.5rem/1.1rem "微软雅黑";color:#666;}
#knowme .hot-text{text-align: center;line-height: 1.2rem;font-size: 0.8rem;color:#666;}
#knowme .hot-list{padding-top: 0.7rem;padding-bottom: 0.825rem;}
#knowme .hot-list li{float: left;width:7.2rem;margin-bottom: 0.975rem;font-size:0;}
#knowme .hot-list li:nth-of-type(even){margin-left: 0.4rem;}
#knowme .hot-list li:nth-of-type(7),#knowme .hot-list li:nth-of-type(8){margin-bottom: 0;}
#knowme .hot-list li img{width:100%;}
#knowme .hot-list li span{display: table-cell;width:7.325rem;height:2.35rem;background-color: #eee;font-size:0.5rem;color:#666;text-align: center;vertical-align: middle;}




/*knowmw end*/