.sz{padding: 0 10px;}
.sz_title{height: 1.95rem;line-height: 1.95rem;text-align: center;border-bottom: 1px solid #e5e5e5;color: #fc4f0b;font-size:0.6rem;font-weight: bold; }
.sz_content{padding: 0.65rem 0.25rem;}
.sz_vicoe{line-height: 0.9rem;font-size: 0.5rem}
.sz_vicoe2{font-weight: bold;margin-top: 0.25rem}










